<!DOCTYPE html>
<html lang="en" ng-app="phonebook">
<head>
    <meta charset="UTF-8">
    <title>Phonebook</title>
</head>

<!--VenderCSS-->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">


<!--Application Stylesheets-->
<link rel="stylesheet" href="/stylesheets/stylesheet.css">

<!--VenderJS-->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-animate/angular-animate.min.js"></script>
<script src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
<script src="/bower_components/lodash/dist/lodash.min.js"></script>

<!--CoreJS-->
<script src="phonebook.app.js"></script>

<!--ConfigJS-->
<script src="/config/routes/phonebook.routes.js"></script>

<!--ControllerJS-->
<script src="home/main/home.controller.js"></script>
<script src="home/create-contact/create.contact.controller.js"></script>


<body>

<section class="container">
    <div ui-view></div>
</section>

</body>
</html>